/* 
 * Hello! I'm Zachary Chan.
 * A 4th year computer science student at Simon Fraser University.
 * I am seeking for my second Co-op term.
 * 
 * I'm a programmer. 
 * Currently, I'm trying out all sorts of stuff to see what I like.
 * This is one of my favourite projects, a website that I made.
 *
 * If you're a boring person, you can press the skip button at the bottom-left.
 *
 * FOR THE BEST EXPERIENCE, VIEW ON DESKTOP, FULL SCREENED
 */

; DELAY 420
/*
 * Oh... There's nothing here...                
 * Let me fix that.
 * 
 * First, lets animate EVERYTHING!
 */
; DELAY 420
; styles true 0

*  {
    -webkit-transition: all 1s;
    transition: all 1s;
}

; styles true 2
/*
 * Where's the animation?
 * You will see... :)
 */
; DELAY 420

/*
 * Let me create some space to work with.
 *
 * AND I SAY, "LET THERE BE A GRAY BOX AND WHITE TEXT!"
 */
; styles true 0

pre:not(:empty)  {
    padding: 1em;
    margin: 1em;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #222;
    color: white;
    overflow: auto;
    padding-bottom: 2em;
}
pre:hover  {
    box-shadow: 0px 0px 30px 5px rgba(255,255,255,0.4);
}

@media only screen and (min-width:769px) {
    pre:not(:empty)  {
        height: 83%;
        width: 45%;
    }
}

@media only screen and (max-width: 768px) {
    pre:not(:empty) {
        width: 95%;
        height: 40%;
        position: absolute;
    }
}

#styles  {
    position: absolute;
    user-select: text;
    -webkit-user-select: text;
    -moz-user-select: text;
}
; styles true 2
; DELAY 420

/*
 * Oh EWWWW.
 *
 * My links are covering up this beautiful text and box.
 * Let me fix this and make it not bother us.
 */
; styles true 0
; DELAY 420

ul  {
    list-style: none;
    width: 100%;
    display: inline-block;
    overflow: auto;
}

li  {
    font-family: monospace, serif;
    display: inline;
    padding: 0px 10px;
}

a:hover  {color: #888888;}
a:visited  {color: #ffffff;}
a:link  {color: #ffffff;}
a:active  {color: #ffffff;}

; styles true 2
; DELAY 420
/*
 * Much better, don't you think?
 * Now let me style the background and really make the site pop!
 */
; styles true 0
; DELAY 420

body  {
    background-color: #151515;
    color: white;
    font-size: 14px;
}

h1  {
    font-size: 2em;
    font-weight: bold;
    margin-left: 29px;
    margin-bottom: 0px;
    padding: 0;
}

/* Customize scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
::-webkit-scrollbar-track {
    background-color: #222;
    border-radius: 5px;
  }
  
::-webkit-scrollbar-thumb {
    background-color: #444;
    border-radius: 5px;
  }
  
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

; styles true 2
; DELAY 420

/*
 * Not bad, if I do say so myself.
 * But it feels a bit bland and empty. Doesn't it?
 * Let me add some color. How about something IDE like?
 * ... Maybe a lot more colourful than an IDE ...
 */
; styles true 0
; DELAY 420
; TOGGLE_PAUSE

.number  {
    color: rgb(33, 205, 79);
}
.comment  {
    color: rgb(224, 127, 0);
}
.value  {
    color: rgb(228, 64, 64);
}
.property  {
    color: rgb(72, 196, 231);
}
.selector  {
    color: rgb(147, 147, 251);
}
.media  {
    color: rgb(255, 89, 225);
}
; styles true 2
; DELAY 420
; TOGGLE_PAUSE

/*
 * I can't imagine that you're here just for the fancy colours.
 *
 * You probably want to know a little more about me.
 * About some of my work, projects and etc.
 * Let me prep a TL;DR of my resume for you.
 * 
 * Oh and just in case you didn't notice...
 * The link to a version of my resume is at the bottom left.
 * 
 */
; DELAY 420
; styles true 0

@media only screen and (min-width:769px) {
    #styles  {
        transform: translateX(110%);
    }
    #resume  {
        position: absolute;
    }
}

@media only screen and (max-width: 768px) {
    #resume  {
        transform: translateX(0%);
    }
    #styles  {
        transform: translateX(0%);
        bottom: 0;
    }
}
; DELAY 500
; resume false 0
; TOGGLE_PAUSE
===================
Zachary Chan
===================
3rd year Computer Science Student at Simon Fraser University (SFU)
Seeking for 2nd Co-op Term in Fall 2023

===================
Personal Projects:
===================
This Website (JavaScript, HTML, CSS)
October 2022 - Present

Gesture Genius: Real Time ASL-to-English translator website (Javascript)
September 2023 - September 2023

Chess AI using Monte Carlo Tree Search and Deep Neural Networks (Python)
February 2023 - May 2023

4-Key Rhythm Game (JavaScript)
January 2023 - February 2023

Automatic UPass Registration (Python)
August 2022 - October 2023

Chess Engine Tournament (JavaScript and C++)
June 2022 - Sept 2022

Chess With Friends Discord Bot (JavaScript)
June 2022 - Sept 2022

Automated Crossword Puzzle Generator (Python)
May 2022 - June 2022

===================
Education:
===================
B.Sc Computer Science
Simon Fraser University
2022 - 2026 (expected graduation)
3.75 CGPA

Associate of Computer Science (Transferred)
Langara College
2020 - 2022
3.87 CGPA

===================
Skills:
===================
Programming Languages: C/C++, Python, JavaScript, HTML, CSS, C#, RISC-V
Software: Visual Studio Code, Git, Unity, GoogleTest, Microsoft Office Suite
Human Languages: English, French, Mandarin
General: Creative, Fast learner, Communicative, Curious

===================
Interests:
===================
Programming
Placed 8th in “New Year’s MASH Programming Contest 2022“
Placed 16th in “ICPC Pacific NorthWest Regional Programming Contest 2022”
Placed 5th in “A Strange Programming Contest 2022”

Participated in Hackathons such as “Hack The North 2023” and “Fall Hacks 2022”.

Chess
2000 Rapid, 1700 Blitz, 1250 Bullet, 2250 Puzzle on chess.com.

Finance
Self-directed investments. Took economics related electives.
; styles true 2
; DELAY 420
; TOGGLE_PAUSE

/*
 * I hope you enjoyed my website.
 *
 * Just one more thing! If you want, you can EDIT this website.
 * You can change the colours, the text, the code, the layout.
 * You can even break the website if you want!
 * Simply start typing in this window.
 *
 * If you have any questions, comments or concerns
 *
 * Feel free to contact me at:
; TOGGLE_PAUSE
 * Email: zca121@sfu.ca
 * Discord: zach1502#4621
; TOGGLE_PAUSE
 * 
 * I'm always looking for new opportunities to learn and grow.
 * 
 * Thank you for your time and I hope you are impressed!
 * 
 * - Zachary Chan
 *
 * [END ANIMATION]
 */

#skip  {
    display: none;
}