/* 
 * Hello! I'm Zachary Chan.
 * A 3rd year computer science student at Simon Fraser University.
 * I am seeking for my first Co-op term.
 * 
 * I'm a programmer. 
 * Currently, I'm trying out all sorts of stuff to see what I like.
 * This is my latest project, a website to showcase my work and projects.
 * as well as tell you about myself, and impress you as much as I can.
 */

/*
 * Oh... There's nothing here...                
 * Let me fix that.
 * 
 * First, lets animate EVERYTHING!
 */

*  {
    -webkit-transition: all 1s;
    transition: all 1s;
}

/*
 * Where's the animation?
 * You will see... :)
 */

/*
 * Let me create some space to work with.
 *
 * AND I SAY, "LET THERE BE A GRAY BOX AND WHITE TEXT!"
 */

pre:not(:empty)  {
    padding: 1em;
    margin: 1em;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #222;
    color: white;
    overflow: auto;
    height: 90%;
    width: 45%;
}

/*
 * Let me fix this footer.
 * This has probably been bothering you for a while.
 */

ul  {
    list-style: none;
    width: 100%;
    display: inline-block;
}

li  {
    font-family: monospace, serif;
    display: inline;
    padding: 0px 10px;
}

a:hover  {color: #888;}
a:visited  {color: #fff;}
a:link  {color: #fff;}
a:active  {color: #fff;}

/*
 * Not bad, if I do say so myself.
 * But it feels a bit bland and empty. Doesn't it?
 * Let me add some color. How about something IDE like?
 * ... Maybe a lot more colourful than an IDE ...
 */

body  {
    background-color: #151515;
    color: white;
    font-size: 14px;
}
.number  {
    color: rgb(33, 205, 79);
}
.comment  {
    color: rgb(224, 127, 0);
}
.value  {
    color: rgb(228, 64, 64);
}
.property  {
    color: rgb(72, 196, 231);
}
.selector  {
    color: rgb(147, 147, 251);
}

/*
 * I can't imagine that you're here just for the fancy animations.
 *
 * You probably want to know a little more about me.
 * About some of my work, projects and etc.
 * Let me prep a TL;DR of my resume for you.
 * 
 * Oh and just in case you didn't notice..
 * The link to my FULL resume is in the bar at the bottom left.
 * note: it has some info redacted for privacy reasons.
 */

#styles  {
    transform: translateX(110%);
    position: absolute;
}
#resume  {
    position: absolute;
}

Zachary Chan
3rd year Computer Science Student at Simon Fraser University (SFU)
Seeking for 1st Co-op Term in Spring 2022

Skills:
Programming Languages: C/C++, Python, JavaScript, HTML, CSS, C#, RISC-V
Software: Visual Studio Code, Git, Unity, GoogleTest, Microsoft Office Suite
Human Languages: English, French, Mandarin
General: Creative, Fast learner, Communicative, Curious

Personal Projects:
This Website (JavaScript, HTML, CSS)
October 2022 - Present

Automatic UPass Registration (Python)
August 2022 - Present

Chess Engine Tournament (JavaScript and C++)
June 2022 - Sept 2022

Chess With Friends Discord Bot (JavaScript)
June 2022 - Sept 2022

Automated Crossword Puzzle Generator (Python)
May 2022 - June 2022

Education:
B.Sc Computer Science
Simon Fraser University
2022 - 2026
3.56/4.33 CGPA

Associate of Computer Science (Transferred)
Langara College
2020 - 2022
3.87/4.33 CGPA

Interests:
Programming
Participated in "A Strange Programming Competition"
Participated in "Fall Hacks 2022"

Chess
1900 Rapid, 1600 Blitz, 1150 Bullet, 2150 Puzzle on chess.com.

Finance
Self-directed investments. Took economics related electives.

/*
 * [END ANIMATION]
 * I hope you enjoyed my website.
 *
 * If you have any questions, comments or concerns, feel free to contact me.
 *
 * Contact me at:
 * Discord: zach1502#4621
 * Email: zca121@sfu.ca
 * 
 * I'm always looking for new opportunities to learn and grow.
 * 
 * Thank you for your time and I hope you are impressed!
 * 
 * Thank you!
 * - Zachary Chan
 */