body  {
    background-color: #151515;
    color: white;
    font-size: 14px;
    font-family: monospace, serif;
    margin: 0% 5%;
    font-size: 14pt; 
}

h1, h2 {
    font-weight: normal;
}
h1 {
    font-size: 36pt;
    margin: 0;
}
h2 {
    font-size: 26pt;
    margin: 0;
}

div  {
    padding: 1em;
    margin: 1em;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #222;
    color: white;
    overflow: auto;
}
div#section {
    margin: 0;
    margin-top: 1em;
    border-color: #555;
}

a:hover  {color: #888888;}
a:visited  {color: #ffffff;}
a:link  {color: #ffffff;}
a:active  {color: #ffffff;}
a {
    font-family: monospace, serif;
    display: inline;
    padding: 0px 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}
ul li {
    font-family: monospace, serif;
    text-decoration: none;
    margin-top: 10px;
}
ul li a {
    padding: 0px;
}

iframe, img{
    /* center the iframe/img */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    text-align: center;
    margin-bottom: 1em;
    font-size: 12pt;
}

pre:not(:empty)  {
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #222;
    color: white;
    overflow: auto;
    padding: 1em;
}